<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{site.title}} | {{page.title}}</title>

    <!-- {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title> -->
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">

    <!-- Google Analytics -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117581635-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-117581635-1');
    </script>



    <!-- Typekit -->
<!--    <script src="https://use.typekit.net/wnq4mqu.js"></script>
   <script>try{Typekit.load({ async: true });}catch(e){}</script>
 -->
 </head>
